.boxMarvel{
	max-width: 460px;
	height: 187px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-bottom: 50px;
	box-sizing:border-box;
}

.boxMarvel .col1{
	width: 30%;
	padding: 20px;
	float: left;
}

.boxMarvel .col2{
	width: 70%;
	padding: 20px;
	float: left;
}

.boxMarvel img{
	max-width: 100%;
	height: auto;
}
